@charset "UTF-8";

/* Intersection
------------------------------*/
html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  color: #40514e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header
------------------------------ */
.logo {
  width: 120px;
}

.main-nav {
  display: flex;
  font-size: 1.23rem;
  text-transform: uppercase;
  margin-top: 64px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #40514e;
}

.main-nav a:hover {
  color: #30e3ca;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
}


.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #11999e;
}

/* Main
------------------------------ */
.home-content {
  text-align: center;
  background-color: #f6f6f6;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0;
}

/* Page Title */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* Big Background */

.home .page-title {
  margin: 0 auto;
  padding: 50px 0 0;
  text-transform: none;
}

.copy-container {
  padding: 150px;
  height: 100vh;
}

/* Jobpost Card */
.jobpost-card {
  width: 50%;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 0 8px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.jobpost-card:hover {
  width: 65%;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 0 12px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.jobpost-item {
  border-radius: 5px;
  padding: 48px 0 64px;
  color: #40514e;
}

.jobpost-item img {
  width: 126px;
} 

.jobpost-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Aside */
#aside {
  width: 30%;
}

.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #11999e solid;
  font-weight: normal;
}

#aside #form {
  margin-top: ;
}








