@charset "UTF-8";

/* Intersection
------------------------------*/
html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  color: #40514e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header
------------------------------ */
.logo {
  width: 120px;
}

.main-nav {
  display: flex;
  font-size: 1.23rem;
  text-transform: uppercase;
  margin-top: 64px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #40514e;
}

.main-nav a:hover {
  color: #11999e;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
}


.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #30e3ca;
}

/* Main
------------------------------ */
.home-content {
  text-align: center;
  background-color: #f6f6f6;
  min-height: 100vh;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* Page Title */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* Big Background */

.home .page-title {
  margin: 0 auto;
  padding: 50px 0 0;
  text-transform: none;
}










