@charset "UTF-8";

/* Intersection
------------------------------*/
html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  color: #40514e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header
------------------------------ */
.logo {
  width: 120px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.23rem;
  text-transform: uppercase;
  margin-top: 64px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #f6f6f6;
}

.main-nav a:hover {
  color: #30e3ca;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}


.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME
------------------------------ */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
  color: #11999e;
}

/* Page Title */
.page-title {
  color: #f6f6f6;
  font-family: 'Roboto';
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* Button */
.button {
    font-size: 1.375rem;
    background-color: #f6f6f6;
    color: #11999e;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background-color: #30e3ca;
    color: #f6f6f6;
    box-shadow: 0 0 3px 3px #11999e;
    transition: ease-in 0.2s
}

.freepik {
  text-align: center;
  font-size: 4px;
}

/* Big-BackGround */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home {
  background: linear-gradient(120deg, #11999e, #6c2082, #3c2082);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease-in-out infinite;
  -moz-animation: AnimationName 15s ease-in-out infinite;
  animation: AnimationName 10s ease-in-out infinite;
  min-height: 100vh;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.home .page-title {
  text-transform: none;
}

.jobpost-container {
  width: 70%;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

#aside {
  width: 22%;
}

.jobpost {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

/* Jobpost Card */
.jobpost-card {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 0 8px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.jobpost-card:hover {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  box-shadow: 10px 10px #e8e8e8;
  transition: ease-in 0.2s;
  background-color: #fff;
  cursor: pointer;
}

.jobpost-item {
  border-radius: 5px;
  padding: 48px 0 64px;
  color: #40514e;
}

.jobpost-item img {
  width: 126px;
} 

/* Industries */
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #11999e solid;
  font-weight: normal;
}

.check-ind {
  list-style: none;
}

.check-ind li {
  text-align: left;
  color: #40514e;
  display: block;
}

.check-ind li:hover {
  color: #11999e;
}










